.title-list {

}
.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
 
}
.list li img {
  border-radius: 20px;
  margin: 10px;
}

.hidden{
    display:none;
}

.play-button{
  background-color: rgba(128, 128, 128, 0.527);
  padding:10px;
  border-radius: 25px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-icon, .pause-icon{
  font-size: 25px;
}

.play-icon{
  margin-left: 4px;
}