.title-list {

}
.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
 
}
.list li img {
  border-radius: 20px;
  margin: 10px;
}

.hidden{
    display: none;
}

